<% if room.errors.any? %>
    <ul>
        <% room.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: room, local: true do |f| %>
<div>
    <%= f.label :title %>
    <%= f.text_field :title, value: room.title %>
</div>
<%= f.submit "Create a Room", class: "button is-primary" %>

<% end %>
